[Desktop Entry]
Encoding=UTF-8
Name=Umbru Core
Comment=Umbru P2P Cryptocurrency
Comment[de]=Verbinde mit dem Umbru peer-to-peer Netzwerk
Comment[fr]=Umbru, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Umbru, eşten eşe kriptografik sanal para birimi
Exec=umbru-qt %u
Terminal=false
Type=Application
Icon=umbru128
MimeType=x-scheme-handler/umbru;
Categories=Office;Finance;
